<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
		<form method="post" action="/order" name="csv-form">
			<input type="text" name="csvFilePath" placeholder="Enter Remote CSV file path" style="width: 200px;">
			<button type="submit" name="btnSubmit">Submit</button>
		</form>
  </body>
</html>
