<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <ul>
      <li><a href="/allocate-request">Test 1-2(Allocate and Report)</a></li>
      <li><a href="/order">Test 2-2 (Import Requests)</a></li>
    </ul>
  </body>
</html>
